* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  color: inherit;
}

:root {
  --title-size: 2.2rem;
  --red: red;
  --black: #000;
  --gray-100: #EBEBEB;
  --gray-800: #464646;
  --sans-serif: sans-serif ;
  --condensed: "Barlow Condensed" , sans-serif ;
}

html, body {
  font-family: var(--sans-serif);
  min-height: 100vh;
  width: 100%;
}

.btn {
  background-color: var(--gray-800);
  padding: 13px;
  color: var(--gray-100);
  padding-left: 2.6rem;
  outline: none;
  cursor: pointer;
  padding-right: 1.2rem;
  text-transform: uppercase;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1400px;
}

.input_style {
  padding: 13px;
  border: none;
  flex: 1;
}

.select_style {
  font-weight: 600;
  font-size: 16px;
  color: var(--gray-800);
  background-color: transparent;
  padding-right: 3px;
}

#home_page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#home_page header {
  padding: 1rem 0;
  outline: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home_page header .logo img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100px;
}
#home_page section.hero {
  display: flex;
  height: 450px;
  background-color: cyan;
  background: url(images/maxresdefault.jpg) no-repeat;
  background-size: 100% 68%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#home_page section.hero .hero_info {
  width: 750px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--gray-100);
  padding: 1.8rem;
}
#home_page section.hero .hero_info .titre {
  font-weight: 500;
  font-size: var(--title-size);
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.2;
  color: var(--gray-800);
  font-family: var(--condensed);
}
#home_page section.hero .hero_info .hero_search {
  display: flex;
  background-color: red;
  gap: 1.7rem;
}
#home_page section.hero .hero_info .hero_search .ou {
  color: var(--gray-800);
  font-weight: 600;
  align-self: flex-end;
  padding: 13px 0;
}
#home_page section.hero .hero_info .hero_search .proximite {
  margin-top: auto;
  background-color: yellow;
}
#home_page section.hero .hero_info .hero_search .filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: lime;
  gap: 10px;
}
#home_page section.hero .hero_info .hero_search .filters .pays_de_recherche {
  display: flex;
  align-items: center;
  flex: 1;
  align-self: flex-start;
  background-color: pink;
  gap: 1.5rem;
}
#home_page section.hero .hero_info .hero_search .filters .search_input {
  display: flex;
}
#home_page .heading {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
#home_page .heading .titre {
  text-indent: 12px;
  font-weight: 300;
}
#home_page .heading::before {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(100%, -50%);
  content: "";
  height: 80%;
  width: 5px;
  background-color: var(--red);
}
#home_page .cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
#home_page .cards_container .card {
  flex: 1;
  max-width: 600px;
  padding: 1rem;
  outline: 1px solid var(--gray-100);
}
#home_page .cards_container .card .img_wrapper {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home_page .cards_container .card .titre {
  margin-bottom: 2rem;
}
#home_page .cards_container .card .titre h5 {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1.5rem;
}
#home_page .cards_container .card .titre h5 .icon {
  color: var(--red);
}
#home_page .cards_container .card p {
  color: var(--gray-800);
  line-height: 1.4;
}
#home_page footer {
  margin-top: 5rem;
  padding: 2rem;
  color: var(--gray-100);
  display: flex;
  background-color: var(--gray-800);
}
#home_page footer .row {
  padding: 0 2rem;
  position: relative;
}
#home_page footer .row h4 {
  margin-bottom: 2rem;
}
#home_page footer .row p {
  font-size: 14px;
  line-height: 1.3;
}
#home_page footer .row p .icon {
  font-size: 1.2rem;
  transform: translateY(2px);
  align-self: center;
}
#home_page footer .row:not(:last-child)::after {
  position: absolute;
  content: "";
  height: 100%;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 0.5px;
  background-color: var(--gray-100);
}
#home_page .copyright {
  padding: 1.2rem 2rem;
  display: flex;
  background-color: var(--black);
}
#home_page .copyright ul {
  color: var(--gray-100);
  font-size: 0.8rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#home_page .copyright ul a {
  text-decoration: none;
}
#home_page .copyright ul a li {
  white-space: nowrap;
}
#home_page .copyright ul a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  body #home_page {
    background-color: burlywood;
  }
  body #home_page section.hero {
    background-size: 100% 100%;
  }
  body #home_page section.hero .hero_info {
    width: 750px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--gray-100);
    padding: 1.8rem 0;
    margin-bottom: 4rem;
  }
  body #home_page section.hero .hero_info .titre {
    font-weight: 500;
    font-size: var(--title-size);
    text-align: center;
    color: var(--gray-800);
    font-family: var(--condensed);
  }
  body #home_page section.hero .hero_info .hero_search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    margin-top: 2rem;
    gap: 0.5rem;
  }
  body #home_page section.hero .hero_info .hero_search .ou {
    margin: 0 auto;
    color: var(--gray-800);
    font-weight: 600;
    align-self: flex-end;
    padding: 13px 0;
  }
  body #home_page section.hero .hero_info .hero_search .proximite {
    margin-top: auto;
    background-color: yellow;
  }
  body #home_page section.hero .hero_info .hero_search .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: lime;
    gap: 10px;
  }
  body #home_page section.hero .hero_info .hero_search .filters .pays_de_recherche {
    display: flex;
    align-items: center;
    flex: 1;
    align-self: flex-start;
    background-color: pink;
    gap: 1.5rem;
  }
  body #home_page section.hero .hero_info .hero_search .filters .search_input {
    display: flex;
  }
  body #home_page .heading {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }
  body #home_page .heading .titre {
    text-indent: 12px;
    font-weight: 300;
  }
  body #home_page .heading::before {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(100%, -50%);
    content: "";
    height: 80%;
    width: 5px;
    background-color: var(--red);
  }
  body #home_page .cards_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  body #home_page .cards_container .card {
    flex: 1;
    max-width: 100%;
    padding: 1rem;
    outline: 1px solid var(--gray-100);
  }
  body #home_page .cards_container .card .titre {
    margin-bottom: 2rem;
  }
  body #home_page .cards_container .card .titre h5 {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 1.5rem;
  }
  body #home_page .cards_container .card .titre h5 .icon {
    color: var(--red);
  }
  body #home_page .cards_container .card p {
    color: var(--gray-800);
    line-height: 1.4;
  }
  body #home_page footer {
    flex-direction: column;
    margin-top: 5rem;
    padding: 2rem;
    color: var(--gray-100);
    display: flex;
    background-color: var(--gray-800);
  }
  body #home_page footer .row {
    padding: 2rem 0;
    position: relative;
  }
  body #home_page footer .row h4 {
    margin-bottom: 2rem;
  }
  body #home_page footer .row p {
    font-size: 14px;
    line-height: 1.3;
  }
  body #home_page footer .row p .icon {
    font-size: 1.2rem;
    transform: translateY(2px);
    align-self: center;
  }
  body #home_page footer .row:not(:last-child)::after {
    position: absolute;
    content: "";
    height: 0.5px;
    width: 100%;
    right: unset;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--gray-100);
  }
}
@media (max-width: 640px) {
  body #home_page section.hero {
    margin-bottom: 2rem;
  }
  body #home_page section.hero .hero_info {
    margin-bottom: 4rem;
  }
  body #home_page .cards_container {
    width: 100%;
    overflow: hidden;
    background-color: #333;
  }
  body #home_page footer {
    flex-direction: column;
    margin-top: 5rem;
    padding: 2rem;
    color: var(--gray-100);
    display: flex;
    background-color: var(--gray-800);
  }
  body #home_page footer .row {
    padding: 2rem 0;
    position: relative;
  }
  body #home_page footer .row h4 {
    margin-bottom: 2rem;
  }
  body #home_page footer .row p {
    font-size: 14px;
    line-height: 1.3;
  }
  body #home_page footer .row p .icon {
    font-size: 1.2rem;
    transform: translateY(2px);
    align-self: center;
  }
  body #home_page footer .row:not(:last-child)::after {
    position: absolute;
    content: "";
    height: 0.5px;
    width: 100%;
    right: unset;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--gray-100);
  }
}/*# sourceMappingURL=styles.css.map */